In [6]:
import numpy as np 
import pandas as pd
from sklearn.preprocessing import LabelBinarizer, MultiLabelBinarizer

In [51]:
# feature = np.array([["Texas"],["California"],["Texas"],["Dallas"],["Texas"]])
feature = np.array(["Texas","California","Texas","Dallas","Texas"])
feature.shape
# feature

(5,)

In [52]:
pd.get_dummies(feature)

   California  Dallas  Texas
0           0       0      1
1           1       0      0
2           0       0      1
3           0       1      0
4           0       0      1